@model NDK.SimplCommerce.Core.Areas.Core.ViewModels.RegisterVm;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="Register" method="post">
        <input type="email" name="Email" placeholder="Email" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="submit" value="register" /> 
    </form>
</body>
</html>